/* index.css o App.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Puedes agregar estilos personalizados aquí si es necesario */

/* Colores para el modo claro y oscuro */
@layer base {
  html {
    --bg-color: rgba(249, 249, 249, 1);
    --bg-blur: blur(0px);
    --text-color: #333;
  }

  [data-theme='dark'] {
    --bg-color: rgba(26, 32, 44, 1);
    --bg-blur: blur(5px);
    --text-color: #edf2f7;
  }

  body {
    background-color: var(--bg-color);
    color: var(--text-color);
    backdrop-filter: var(--bg-blur);
    transition: var(--transition);
  }
}
